.header {
  width: 100%;
  background-color: whitesmoke;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  /* Para que este arriba del resto*/
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-weight: normal;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  font-weight: bold;
}

nav .nav ul li a.activo {
  background-color: #025add;
  color: whitesmoke;
  padding: 10px;
}


a:link {
  color: #3a3a3a;
  text-decoration: none;
}

a:visited {
  color: #3a3a3a;
  text-decoration: none;
}

a:hover {
  color: #025add;
  text-decoration: none;
}


li {
  padding: 0 20px;
}


.boton a:visited {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #025add;
  color: whitesmoke;
  border: solid 1px #025add;
}

.boton a:link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #025add;
  color: whitesmoke;
  border: solid 1px #025add;
}


.boton a:hover {
  background-color: whitesmoke;
  color: #025add;
  border: solid 1px #025add;
}


.footer {
  background-color: #3a3a3a;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  height: 12em;
  margin: 0 auto;
}

/*  redes sociales */
.social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a:hover {
  text-decoration: underline;
}
