

h1 {
    color: blue;
    font-family: arial;
}

h2 {
    color: red;
    font-family: Verdana;
}

h3 {
    background-color: burlywood;
    border : 1px;
    width: 400px;

}

li {
    font-size : 20px;
    background-color: antiquewhite;
    
}